<section class="posts">
      <div class="post">
        <h2>Post Title One</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt, tortor non commodo gravida, sapien erat mattis risus...</p>
      </div>
      <div class="post">
        <h2>Post Title Two</h2>
        <p>Curabitur a risus eget libero fermentum bibendum. Quisque consequat tellus non nisi imperdiet, at viverra elit ultrices...</p>
      </div>
      <div class="post">
        <h2>Post Title Three</h2>
        <p>Donec faucibus risus a elit pretium, sed tincidunt mauris commodo. Phasellus non elit non magna ultrices commodo...</p>
      </div>
    
    </section>
